;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jul  8 12:37:38 2011
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("control" "C-\\"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/" "/Users/rsuhada/.emacs.d/rs_settings/spelling.el" "~/Dropbox/org/emacs_learn.org" "/Applications/Emacs.app/Contents/Resources/lisp/ido.el.gz" "/Applications/Emacs.app/Contents/Resources/lisp/textmodes/flyspell.el.gz" "/Users/rsuhada/.emacs.d/rs_settings/bindings.el" "~/.ido.last" "~/.recentf" "~/Dropbox/xmmbcs_v1/xmmbcs.tex" "~/Dropbox/xmmbcs_v1/ref/referee_report.txt" "~/.emacs.bmk" "~/.emacs.d/rs_settings/bindings.el" "/Applications/Emacs.app/Contents/Resources/lisp/textmodes/flyspell.el.gz" "~/.emacs.d/plugins/misc/tellicopy.el" "/Applications/Emacs.app/Contents/Resources/lisp/ido.el.gz" "~/.emacs.d/rs_settings/ido.el" "~/.emacs.d/rs_settings/global.el" "~/data1/lab/test.sh" "~/data1/lab/physpar/param.pro" "~/.emacs.d/rs_settings/org.el" "~/Dropbox/org/agenda-read.org" "~/.emacs.d/plugins/misc/smex.el" "~/.emacs.d/plugins/external.el" "~/data1/deproject_spectra.py" "~/Dropbox/org/phd_exam.org" "~/Dropbox/org/agenda-work.org"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/rsuhada/.emacs.d/rs_settings/bindings.el"
  "bindings.el"
  'emacs-lisp-mode
  '(linum-mode yas/minor-mode rainbow-delimiters-mode flyspell-mode)
  1700
  '(448 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/rsuhada/.emacs.d/rs_settings/spelling.el"
  "spelling.el"
  'emacs-lisp-mode
  '(linum-mode yas/minor-mode rainbow-delimiters-mode)
  420
  '(289 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Applications/Emacs.app/Contents/Resources/lisp/ido.el.gz"
  "ido.el.gz"
  'emacs-lisp-mode
  '(linum-mode yas/minor-mode rainbow-delimiters-mode)
  59009
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/rsuhada/Dropbox/org/emacs_learn.org"
  "emacs_learn.org"
  'org-mode
  '(linum-mode yas/minor-mode rainbow-delimiters-mode flyspell-mode org-indent-mode)
  8480
  '(1 nil)
  nil
  nil
  '((buffer-file-coding-system . utf-8-unix) (truncate-lines . t)))

(desktop-create-buffer 206
  "/Applications/Emacs.app/Contents/Resources/lisp/textmodes/flyspell.el.gz"
  "flyspell.el.gz"
  'emacs-lisp-mode
  '(linum-mode yas/minor-mode rainbow-delimiters-mode)
  16455
  '(16429 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

