# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
# foo.txt
tramp
ac-comphist.dat
# Ignore (generated) html files,
# *.html
# except foo.html which is maintained by hand.
# !foo.html
# Ignore objects and archives.
# *.[oa]
# ignore personal info snippets:
sig.yasnippet
vizitka.yasnippet
address.yasnippet
ignore.el
