;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jul  8 12:44:14 2011
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/.emacs.d/rs_settings/" "/Users/rsuhada/.emacs.d/rs_settings/spelling.el" "/Users/rsuhada/.emacs.d/rs_settings/bindings.el" "~/.emacs.d/rs_settings/bindings.el" "~/.ido.last" "~/.emacs.d/rs_settings/spelling.el" "~/Dropbox/org/emacs_learn.org" "/Applications/Emacs.app/Contents/Resources/lisp/ido.el.gz" "/Applications/Emacs.app/Contents/Resources/lisp/textmodes/flyspell.el.gz" "~/.recentf" "~/Dropbox/xmmbcs_v1/xmmbcs.tex" "~/Dropbox/xmmbcs_v1/ref/referee_report.txt" "~/.emacs.bmk" "~/.emacs.d/plugins/misc/tellicopy.el" "~/.emacs.d/rs_settings/ido.el" "~/.emacs.d/rs_settings/global.el" "~/data1/lab/test.sh" "~/data1/lab/physpar/param.pro" "~/.emacs.d/rs_settings/org.el" "~/Dropbox/org/agenda-read.org" "~/.emacs.d/plugins/misc/smex.el" "~/.emacs.d/plugins/external.el" "~/data1/deproject_spectra.py"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/Users/rsuhada/.emacs.d/rs_settings/bindings.el"
  "bindings.el"
  'emacs-lisp-mode
  '(linum-mode)
  2083
  '(1753 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/Users/rsuhada/.emacs.d/rs_settings/spelling.el"
  "spelling.el"
  'emacs-lisp-mode
  '(linum-mode)
  184
  '(184 nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

